In [ ]:
# Q1 - Section C - Feb 2025

## from pyspark.sql import SparkSession
# Create Spark session
## spark = SparkSession.builder.appName("PlacementAnalysis").getOrCreate()

mba_place = spark.read.load(
    "dbfs:/FileStore/tables/SparkSQL/mba_placement.csv",
    format="csv",
    sep=",",
    inferSchema=True,
    header=True
)

In [ ]:
mba_place.count()

Out[4]: 215

In [ ]:
mba_place.printSchema()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- ssc_b: string (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- hsc_b: string (nullable = true)
 |-- hsc_s: string (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- degree_t: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- etest_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
mba_place_clean = mba_place.drop("sl_no").dropna()
mba_place_clean.show()

+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|gender|ssc_p|  ssc_b|hsc_p|  hsc_b|   hsc_s|degree_p| degree_t|workex|etest_p|specialisation|mba_p|status|salary|
+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
|     M| 67.0| Others| 91.0| Others|Commerce|    58.0| Sci&Tech|    No|   55.0|        Mkt&HR| 58.8|Placed|270000|
|     M|79.33|Central|78.33| Others| Science|   77.48| Sci&Tech|   Yes|   86.5|       Mkt&Fin|66.28|Placed|200000|
|     M| 65.0|Central| 68.0|Central|    Arts|    64.0|Comm&Mgmt|    No|   75.0|       Mkt&Fin| 57.8|Placed|250000|
|     M| 85.8|Central| 73.6|Central|Commerce|    73.3|Comm&Mgmt|    No|   96.8|       Mkt&Fin| 55.5|Placed|425000|
|     M| 82.0|Central| 64.0|Central| Science|    66.0| Sci&Tech|   Yes|   67.0|       Mkt&Fin|62.14|Placed|252000|
|     M| 73.0|Central| 79.0|Central|Commerce|    72.0|Comm&Mgmt|    No|  91.34|       Mkt&Fin|61.29|Placed|231000|
|     M| 58.0|Central| 61.0|Central|Commerce|    60.0|Comm&Mgmt|   Yes|   62.0|        Mkt&HR|60.85|Placed|260000|
|     M| 69.6|Central| 68.4|Central|Commerce|    78.3|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin| 63.7|Placed|250000|
|     F| 77.0|Central| 87.0|Central|Commerce|    59.0|Comm&Mgmt|    No|   68.0|       Mkt&Fin|68.63|Placed|218000|
|     F| 65.0|Central| 75.0|Central|Commerce|    69.0|Comm&Mgmt|   Yes|   72.0|       Mkt&Fin|64.66|Placed|200000|
|     M| 63.0|Central| 66.2|Central|Commerce|    65.6|Comm&Mgmt|   Yes|   60.0|       Mkt&Fin|62.54|Placed|300000|
|     M| 60.0| Others| 67.0| Others|    Arts|    70.0|Comm&Mgmt|   Yes|  50.48|       Mkt&Fin|77.89|Placed|236000|
|     M| 62.0| Others| 65.0| Others|Commerce|    66.0|Comm&Mgmt|    No|   50.0|        Mkt&HR| 56.7|Placed|265000|
|     F| 79.0| Others| 76.0| Others|Commerce|    85.0|Comm&Mgmt|    No|   95.0|       Mkt&Fin|69.06|Placed|393000|
|     F| 69.8| Others| 60.8| Others| Science|   72.23| Sci&Tech|    No|  55.53|        Mkt&HR|68.81|Placed|360000|
|     F| 77.4| Others| 60.0| Others| Science|   64.74| Sci&Tech|   Yes|   92.0|       Mkt&Fin|63.62|Placed|300000|
|     M| 76.5| Others| 97.7| Others| Science|   78.86| Sci&Tech|    No|   97.4|       Mkt&Fin|74.01|Placed|360000|
|     M| 71.0| Others| 79.0| Others|Commerce|    66.0|Comm&Mgmt|   Yes|   94.0|       Mkt&Fin|57.55|Placed|240000|
|     M| 63.0| Others| 67.0| Others|Commerce|    66.0|Comm&Mgmt|    No|   68.0|        Mkt&HR|57.69|Placed|265000|
|     M|76.76| Others| 76.5| Others|Commerce|    67.5|Comm&Mgmt|   Yes|  73.35|       Mkt&Fin|64.15|Placed|350000|
+------+-----+-------+-----+-------+--------+--------+---------+------+-------+--------------+-----+------+------+
only showing top 20 rows

In [ ]:
## I.	What’s the overall minimum, maximum and average salary from the dataset? ( 6 marks)  

from pyspark.sql.functions import min, max, avg

mba_place_clean.select(
    min("salary").alias("Min_Salary"),
    max("salary").alias("Max_Salary"),
    avg("salary").alias("Avg_Salary")
).show()

+----------+----------+-----------------+
|Min_Salary|Max_Salary|       Avg_Salary|
+----------+----------+-----------------+
|    200000|    940000|288655.4054054054|
+----------+----------+-----------------+

In [ ]:
## II.	How many  female candidates are not placed ?  ( 4 marks)
mba_place_clean.filter((mba_place_clean.gender == "F") & (mba_place_clean.status == "Not Placed")).count()

Out[9]: 0

In [ ]:

## III.	Out of total male candidates placed, how many do not have any work experience ? (3 marks)
mba_place_clean.filter(
    (mba_place_clean.gender == "M") &
    (mba_place_clean.status == "Placed") &
    (mba_place_clean.workex == "No")
).count()

In [ ]:
# Q1 - Section C - Oct 2024

df_employee=spark.read.load("dbfs:/FileStore/tables/SparkSQL/employee_data_2000.csv",
                            format="csv",
                            sep=",",
                            inferSchema="True",
                            header=True
)

In [ ]:
df_employee.show()

+---+-----------+------+---+----------+------+
| ID|       name|gender|age|experience|salary|
+---+-----------+------+---+----------+------+
|  1| Employee_1|  Male| 31|        29| 85734|
|  2| Employee_2|Female| 35|         3| 58621|
|  3| Employee_3|  Male| 43|        12|146490|
|  4| Employee_4|  Male| 38|        22|106441|
|  5| Employee_5|  Male| 27|         7| 76121|
|  6| Employee_6|Female| 50|        17|111418|
|  7| Employee_7|  Male| 40|        11| 90197|
|  8| Employee_8|  Male| 36|        30|114577|
|  9| Employee_9|  Male| 42|        13|124634|
| 10|Employee_10|Female| 56|        33|148034|
| 11|Employee_11|  Male| 35|        17| 72431|
| 12|Employee_12|  Male| 25|        33|147637|
| 13|Employee_13|  Male| 27|        10|129245|
| 14|Employee_14|  Male| 44|        11|130211|
| 15|Employee_15|Female| 37|        14| 34837|
| 16|Employee_16|  Male| 44|        30|141984|
| 17|Employee_17|Female| 31|        28|120025|
| 18|Employee_18|Female| 34|        25|113163|
| 19|Employee_19|Female| 45|        17|101232|
| 20|Employee_20|  Male| 45|        31| 78994|
+---+-----------+------+---+----------+------+
only showing top 20 rows

In [ ]:
df_employee.count()

Out[16]: 2000

In [ ]:
df_employee.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
#What is the average salary of the employees in the dataset? ( 1 marks)
from pyspark.sql.functions import avg
df_employee.select(avg(df_employee.salary).alias("Average Salary")).show()

+--------------+
|Average Salary|
+--------------+
|    89939.6625|
+--------------+

In [ ]:
# What is the total number of years of experience for all employees? (2 Marks)

from pyspark.sql.functions import sum
df_employee.select(sum(df_employee.experience).alias("total numer of exp")).show()

+------------------+
|total numer of exp|
+------------------+
|             39076|
+------------------+

In [ ]:
# What is the gender distribution in the DataFrame? ( 3 marks)
# from pyspark.sql.funtions import count
df_employee.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|  984|
|  Male| 1016|
+------+-----+

In [ ]:
# What is the salary of the employee with the maximum experience? ( 3 marks)
from pyspark.sql.functions import max
max_exp = df_employee.select(max(df_employee.experience)).collect()[0][0]
df_employee.filter(df_employee.experience==max_exp).select(df_employee.name,df_employee.experience,df_employee.salary).show()

+------------+----------+------+
|        name|experience|salary|
+------------+----------+------+
|Employee_110|        39|127557|
|Employee_145|        39|142561|
|Employee_176|        39|149873|
|Employee_189|        39| 79593|
|Employee_209|        39| 36089|
|Employee_298|        39|147358|
|Employee_359|        39| 57672|
|Employee_381|        39| 37235|
|Employee_397|        39| 75203|
|Employee_448|        39| 44745|
|Employee_479|        39| 34758|
|Employee_490|        39| 35974|
|Employee_497|        39| 51292|
|Employee_657|        39|119385|
|Employee_664|        39|125305|
|Employee_697|        39|106646|
|Employee_773|        39|111010|
|Employee_805|        39|103717|
|Employee_852|        39| 77766|
|Employee_860|        39|121717|
+------------+----------+------+
only showing top 20 rows

In [ ]:
## How many employees are older than 22 years? (3 marks)

df_employee.filter(df_employee.age>22).count()

Out[29]: 1857

In [ ]:
# Remove the feature 'ID' and also remove null values from the DataFrame. (3 marks)
df_employee_clean=df_employee.drop(df_employee.ID).dropna()

In [ ]:
df_employee_clean.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
## Q paper - July 2024 
univ_rank=spark.read.load("dbfs:/FileStore/tables/SparkSQL/qs_world_university_rankings_3000.csv",
                          format="csv",
                          sep=",",
                          inferSchema=True,
                          header=True)

In [ ]:
univ_rank.printSchema()

root
 |-- Institution Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Location Full: string (nullable = true)
 |-- Citations per Faculty: double (nullable = true)
 |-- International Students: integer (nullable = true)

In [ ]:
univ_rank.count()

Out[35]: 3000

In [ ]:
univ_rank.show()

+----------------+-----------+-------------------+---------------------+----------------------+
|Institution Name|   Location|      Location Full|Citations per Faculty|International Students|
+----------------+-----------+-------------------+---------------------+----------------------+
| Institution_536|      Japan|     Delhi, Germany|                16.97|                    25|
|  Institution_22|      India|       Paris, China|                21.24|                   100|
| Institution_137|South Korea|       Tokyo, China|                79.57|                    94|
| Institution_529|      China|New York, Australia|                34.27|                     0|
|  Institution_55|     Canada|      London, Japan|                45.88|                    58|
| Institution_188|      China|       Tokyo, China|                31.08|                    79|
| Institution_564|      China|    Berlin, Germany|                95.47|                   100|
| Institution_891|    Germany|       Delhi, China|                37.25|                    34|
| Institution_606|         UK|    Beijing, France|                62.73|                   100|
| Institution_768|        USA|        Toronto, UK|                33.25|                     7|
| Institution_215|South Korea|      New York, USA|                27.26|                    41|
| Institution_794|      Japan|   Toronto, Germany|                27.76|                   100|
| Institution_933|        USA|       Tokyo, India|                90.19|                     3|
| Institution_596|        USA|      London, Japan|                40.09|                    96|
|  Institution_79|         UK|      Paris, France|                82.83|                    17|
| Institution_562|        USA|    New York, Japan|                64.19|                   100|
| Institution_758|    Germany|        Berlin, USA|                52.34|                     6|
| Institution_846|        USA|      New York, USA|                32.32|                   100|
| Institution_805|        USA|     Berlin, Canada|                82.06|                   100|
|  Institution_24|South Korea|       Tokyo, India|                66.79|                   100|
+----------------+-----------+-------------------+---------------------+----------------------+
only showing top 20 rows

In [ ]:
# How many Institutions are included in the dataset? (2 mark)

univ_rank.select(univ_rank["Institution Name"]).distinct().count()

Out[38]: 951

In [ ]:
# How many Institutions from ‘India' are included in dataset? (3 marks)

univ_rank.filter(univ_rank["Location"]=='India').count()

Out[43]: 283

In [ ]:
univ_rank.filter(univ_rank["Location"] == "India").select("Institution Name").distinct().count()

Out[44]: 246

In [ ]:
univ_rank.filter(univ_rank["Location"] == "India").select("Institution Name").distinct().show()

+----------------+
|Institution Name|
+----------------+
| Institution_173|
| Institution_279|
|  Institution_22|
| Institution_708|
| Institution_751|
| Institution_230|
| Institution_101|
| Institution_422|
| Institution_782|
| Institution_510|
| Institution_274|
| Institution_234|
| Institution_428|
| Institution_565|
| Institution_255|
| Institution_223|
|  Institution_48|
| Institution_916|
| Institution_644|
|  Institution_97|
+----------------+
only showing top 20 rows

In [ ]:
# Print the average "Citations per Faculty" for universities located in 'India'? (5 marks)

univ_rank.filter(univ_rank["Location"]=='India').select(avg("Citations per Faculty")).show()

+--------------------------+
|avg(Citations per Faculty)|
+--------------------------+
|         55.22855123674909|
+--------------------------+

In [ ]:
from pyspark.sql.functions import avg

univ_rank.filter(univ_rank["Location"] == "India") \
  .select(avg("Citations per Faculty").alias("avg_citations_per_faculty")) \
  .show()

+-------------------------+
|avg_citations_per_faculty|
+-------------------------+
|        55.22855123674909|
+-------------------------+

In [ ]:
# List Institutions where "International Students" percentage is 100 % along with their
#location ( "Location Full"). (5 marks)

univ_rank.show()

+----------------+-----------+-------------------+---------------------+----------------------+
|Institution Name|   Location|      Location Full|Citations per Faculty|International Students|
+----------------+-----------+-------------------+---------------------+----------------------+
| Institution_536|      Japan|     Delhi, Germany|                16.97|                    25|
|  Institution_22|      India|       Paris, China|                21.24|                   100|
| Institution_137|South Korea|       Tokyo, China|                79.57|                    94|
| Institution_529|      China|New York, Australia|                34.27|                     0|
|  Institution_55|     Canada|      London, Japan|                45.88|                    58|
| Institution_188|      China|       Tokyo, China|                31.08|                    79|
| Institution_564|      China|    Berlin, Germany|                95.47|                   100|
| Institution_891|    Germany|       Delhi, China|                37.25|                    34|
| Institution_606|         UK|    Beijing, France|                62.73|                   100|
| Institution_768|        USA|        Toronto, UK|                33.25|                     7|
| Institution_215|South Korea|      New York, USA|                27.26|                    41|
| Institution_794|      Japan|   Toronto, Germany|                27.76|                   100|
| Institution_933|        USA|       Tokyo, India|                90.19|                     3|
| Institution_596|        USA|      London, Japan|                40.09|                    96|
|  Institution_79|         UK|      Paris, France|                82.83|                    17|
| Institution_562|        USA|    New York, Japan|                64.19|                   100|
| Institution_758|    Germany|        Berlin, USA|                52.34|                     6|
| Institution_846|        USA|      New York, USA|                32.32|                   100|
| Institution_805|        USA|     Berlin, Canada|                82.06|                   100|
|  Institution_24|South Korea|       Tokyo, India|                66.79|                   100|
+----------------+-----------+-------------------+---------------------+----------------------+
only showing top 20 rows

In [ ]:
univ_rank.filter(univ_rank["International Students"]==100).select("International Students","Location Full").show()

+----------------------+------------------+
|International Students|     Location Full|
+----------------------+------------------+
|                 100.0|      Paris, China|
|                 100.0|   Berlin, Germany|
|                 100.0|   Beijing, France|
|                 100.0|  Toronto, Germany|
|                 100.0|   New York, Japan|
|                 100.0|     New York, USA|
|                 100.0|    Berlin, Canada|
|                 100.0|      Tokyo, India|
|                 100.0|     Sydney, Japan|
|                 100.0|     Berlin, India|
|                 100.0|     Seoul, Canada|
|                 100.0|    Tokyo, Germany|
|                 100.0|     Delhi, France|
|                 100.0|    Toronto, China|
|                 100.0|    Beijing, Japan|
|                 100.0|Paris, South Korea|
|                 100.0|   New York, Japan|
|                 100.0|   Toronto, France|
|                 100.0|  Paris, Australia|
|                 100.0|  New York, France|
+----------------------+------------------+
only showing top 20 rows

In [ ]:
univ_rank = univ_rank.withColumn("International Students", univ_rank["International Students"].cast("double"))

## Question no 2 - Section C

In [ ]:
mba_placement = spark.read.load(
    "dbfs:/FileStore/tables/SparkSQL/mba_placement.csv",
    format="csv",
    sep=",",
    inferSchema=True,
    header=True
)

In [ ]:
mba_placement.printSchema()

root
 |-- sl_no: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- ssc_b: string (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- hsc_b: string (nullable = true)
 |-- hsc_s: string (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- degree_t: string (nullable = true)
 |-- workex: string (nullable = true)
 |-- etest_p: double (nullable = true)
 |-- specialisation: string (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
# I.	Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore. (5 marks)

from pyspark.ml.feature import StringIndexer

# List of string columns from schema
string_cols = ["gender", "ssc_b", "hsc_b", "hsc_s", "degree_t", "workex", "specialisation", "status"]

# Loop through each string column and apply StringIndexer
for col_name in string_cols:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_indexed")
    mba_placement = indexer.fit(mba_placement).transform(mba_placement).drop(col_name)  # drop original string column

# Rename new indexed columns to original names
for col_name in string_cols:
    mba_placement = mba_placement.withColumnRenamed(col_name + "_indexed", col_name)

# Confirm schema no longer contains string columns
mba_placement.printSchema()

root
 |-- sl_no: integer (nullable = true)
 |-- ssc_p: double (nullable = true)
 |-- hsc_p: double (nullable = true)
 |-- degree_p: double (nullable = true)
 |-- etest_p: double (nullable = true)
 |-- mba_p: double (nullable = true)
 |-- salary: integer (nullable = true)
 |-- gender: double (nullable = false)
 |-- ssc_b: double (nullable = false)
 |-- hsc_b: double (nullable = false)
 |-- hsc_s: double (nullable = false)
 |-- degree_t: double (nullable = false)
 |-- workex: double (nullable = false)
 |-- specialisation: double (nullable = false)
 |-- status: double (nullable = false)

In [ ]:
# Using vectorAssembler combines all columns (except target column i.e., 'salary') of spark DataFrame into a single column (name as features). Make sure DataFrame now contains only two columns: features and salary. ( 5 marks)


from pyspark.ml.feature import VectorAssembler

# List all columns except 'salary' (target column)
feature_cols = [col for col in mba_placement.columns if col != 'salary']

# Initialize VectorAssembler
assembler = VectorAssembler(inputCols=feature_cols, outputCol='features')

# Transform the DataFrame
df_vectorized = assembler.transform(mba_placement)

# Select only the 'features' and 'salary' columns
final_df = df_vectorized.select('features', 'salary')

# Show resulting schema
final_df.printSchema()
final_df.show(5, truncate=False)

root
 |-- features: vector (nullable = true)
 |-- salary: integer (nullable = true)

+------------------------------------------------------------------+------+
|features                                                          |salary|
+------------------------------------------------------------------+------+
|[1.0,67.0,91.0,58.0,55.0,58.8,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0]    |270000|
|[2.0,79.33,78.33,77.48,86.5,66.28,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0]|200000|
|(14,[0,1,2,3,4,5,8,9],[3.0,65.0,68.0,64.0,75.0,57.8,1.0,2.0])     |250000|
|[4.0,56.0,52.0,52.0,66.0,59.43,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0]   |null  |
|(14,[0,1,2,3,4,5,8],[5.0,85.8,73.6,73.3,96.8,55.5,1.0])           |425000|
+------------------------------------------------------------------+------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

# Count rows with null in 'features' or 'salary'
null_counts = final_df.filter(
    col("features").isNull() | col("salary").isNull()
).count()

print(f"Number of rows with null values: {null_counts}")

Number of rows with null values: 67

In [ ]:

# Drop rows where any column has a null value
clean_df = final_df.dropna()

# Show the cleaned DataFrame
clean_df.show()

+--------------------+------+
|            features|salary|
+--------------------+------+
|[1.0,67.0,91.0,58...|270000|
|[2.0,79.33,78.33,...|200000|
|(14,[0,1,2,3,4,5,...|250000|
|(14,[0,1,2,3,4,5,...|425000|
|[8.0,82.0,64.0,66...|252000|
|(14,[0,1,2,3,4,5,...|231000|
|[11.0,58.0,61.0,6...|260000|
|(14,[0,1,2,3,4,5,...|250000|
|(14,[0,1,2,3,4,5,...|218000|
|[16.0,65.0,75.0,6...|200000|
|(14,[0,1,2,3,4,5,...|300000|
|[20.0,60.0,67.0,7...|236000|
|(14,[0,1,2,3,4,5,...|265000|
|(14,[0,1,2,3,4,5,...|393000|
|[23.0,69.8,60.8,7...|360000|
|[24.0,77.4,60.0,6...|300000|
|[25.0,76.5,97.7,7...|360000|
|(14,[0,1,2,3,4,5,...|240000|
|(14,[0,1,2,3,4,5,...|265000|
|(14,[0,1,2,3,4,5,...|350000|
+--------------------+------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

# Count rows with null in 'features' or 'salary'
null_counts = clean_df.filter(
    col("features").isNull() | col("salary").isNull()
).count()

print(f"Number of rows with null values: {null_counts}")

Number of rows with null values: 0

In [ ]:

#III.	Split the vectorized dataframe into training and test sets with one fourth records being held for testing (3marks)
# Split the DataFrame: 75% for training, 25% for testing
train_df, test_df = clean_df.randomSplit([0.75, 0.25], seed=42)

# Optional: Check counts
print("Training Set Count:", train_df.count())
print("Test Set Count:", test_df.count())

Training Set Count: 114
Test Set Count: 34

In [ ]:

#IV.	Build a LinearRegression model on train set  use featuresCol="features" and  'salary'(6 marks)
from pyspark.ml.regression import LinearRegression

# Define the Linear Regression model
lr = LinearRegression(featuresCol="features", labelCol="salary")

# Fit the model on training data
lr_model = lr.fit(train_df)

# Print model coefficients and intercept
print("Coefficients:", lr_model.coefficients)
print("Intercept:", lr_model.intercept)

Coefficients: [65.57726801868472,-673.6507109523955,767.0893998286092,-657.2210143693152,-229.45851076566956,3840.740918203088,-36955.001336838664,1651.7421763093039,-7644.5914114114275,-20483.91488604545,54043.63654414776,6768.795504260067,-13105.867138402395,0.0]
Intercept: 105443.38798964706

In [ ]:
# V.	Perform prediction on the testing data and Print MSE value? ( 6 marks)
from pyspark.ml.evaluation import RegressionEvaluator

# Step 1: Predict salaries on the test set
predictions = lr_model.transform(test_df)

# Step 2: Initialize evaluator for MSE
evaluator = RegressionEvaluator(
    labelCol="salary", 
    predictionCol="prediction", 
    metricName="mse"
)

# Step 3: Compute Mean Squared Error
mse = evaluator.evaluate(predictions)

print(f"Mean Squared Error (MSE) on test data: {mse}")

Mean Squared Error (MSE) on test data: 16779369846.712732

Oct 2024 Section C

In [ ]:
#I.	Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore. (5 marks) 

emp_data = spark.read.load(
    "dbfs:/FileStore/tables/SparkSQL/employee_data_2000.csv",
    format="csv",
    sep=",",
    inferSchema=True,
    header=True
)

In [ ]:
emp_data.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
#I.	Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore. (5 marks) 
from pyspark.ml.feature import StringIndexer

# List of string columns from schema
string_cols = ["name", "gender"]

# Loop through each string column and apply StringIndexer
for col_name in string_cols:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_indexed")
    emp_data = indexer.fit(emp_data).transform(emp_data).drop(col_name)  # drop original string column

# Rename new indexed columns to original names
for col_name in string_cols:
    emp_data = emp_data.withColumnRenamed(col_name + "_indexed", col_name)

# Confirm schema no longer contains string columns
emp_data.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- name: double (nullable = false)
 |-- gender: double (nullable = false)

In [ ]:
emp_data=emp_data.drop("ID")

In [ ]:
emp_data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- name: double (nullable = false)
 |-- gender: double (nullable = false)

In [ ]:
emp_data.show(10)

+---+----------+------+------+------+
|age|experience|salary|  name|gender|
+---+----------+------+------+------+
| 31|        29| 85734|   0.0|   0.0|
| 35|         3| 58621|1111.0|   1.0|
| 43|        12|146490|1223.0|   0.0|
| 38|        22|106441|1334.0|   0.0|
| 27|         7| 76121|1445.0|   0.0|
| 50|        17|111418|1556.0|   1.0|
| 40|        11| 90197|1667.0|   0.0|
| 36|        30|114577|1778.0|   0.0|
| 42|        13|124634|1889.0|   0.0|
| 56|        33|148034|   1.0|   1.0|
+---+----------+------+------+------+
only showing top 10 rows

In [ ]:
#II.	Using vectorAssembler combines all columns (except target column i.e., 'salary') of spark DataFrame into a single column (name as features). Make sure DataFrame now contains only two columns: features and salary. (6 marks)

from pyspark.ml.feature import VectorAssembler

# List all columns except 'salary' (target column)
feature_cols = [col for col in emp_data.columns if col != 'salary']

# Initialize VectorAssembler
assembler = VectorAssembler(inputCols=feature_cols, outputCol='features')

# Transform the DataFrame
df_vectorized = assembler.transform(emp_data)

# Select only the 'features' and 'salary' columns
final_df = df_vectorized.select('features', 'salary')

# Show resulting schema
final_df.printSchema()
final_df.show(5, truncate=False)

root
 |-- features: vector (nullable = true)
 |-- salary: integer (nullable = true)

+----------------------+------+
|features              |salary|
+----------------------+------+
|[31.0,29.0,0.0,0.0]   |85734 |
|[35.0,3.0,1111.0,1.0] |58621 |
|[43.0,12.0,1223.0,0.0]|146490|
|[38.0,22.0,1334.0,0.0]|106441|
|[27.0,7.0,1445.0,0.0] |76121 |
+----------------------+------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

# Count rows with null in 'features' or 'salary'
null_counts = final_df.filter(
    col("features").isNull() | col("salary").isNull()
).count()

print(f"Number of rows with null values: {null_counts}")

Number of rows with null values: 0

In [ ]:
from pyspark.ml.feature import StandardScaler

scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True, withMean=False)
scaler_model = scaler.fit(final_df)
df_scaled = scaler_model.transform(final_df)

In [ ]:
#III.	Split the vectorized dataframe into training and test sets with one fourth records being held for testing (4 marks)

train_df, test_df = df_scaled.randomSplit([0.75, 0.25], seed=42)

# Optional: Check counts
print("Training Set Count:", train_df.count())
print("Test Set Count:", test_df.count())

Training Set Count: 1540
Test Set Count: 460

In [ ]:
#IV.	Build a LinerRegression model on train set use featuresCol="features" and 'salary'(5 marks)

from pyspark.ml.regression import LinearRegression

# Define the Linear Regression model
lr = LinearRegression(featuresCol="features", labelCol="salary")

# Fit the model on training data
lr_model = lr.fit(train_df)

# Print model coefficients and intercept
print("Coefficients:", lr_model.coefficients)
print("Intercept:", lr_model.intercept)

Coefficients: [20.324682791649195,-18.513061974813336,0.011092798156402553,-4064.8556227011736]
Intercept: 91082.09974939919

In [ ]:
# V.	V.	Perform prediction on the testing data and Print RMSE,MAE value? (5 marks)
from pyspark.ml.evaluation import RegressionEvaluator

# Step 1: Predict salaries on the test set
predictions = lr_model.transform(test_df)

# Step 2: Initialize evaluator for MSE
evaluator = RegressionEvaluator(
    labelCol="salary", 
    predictionCol="prediction", 
    metricName="mse"
)

# Step 3: Compute Mean Squared Error
mse = evaluator.evaluate(predictions)

print(f"Mean Squared Error (MSE) on test data: {mse}")

Mean Squared Error (MSE) on test data: 1223858469.1866179

# july 2024 Paper review

In [ ]:
# Recreate the Dataframe by Dropping all the rows where 'QS Overall Score' is
# mention as '-' and also convert it as float type. (2 marks )

univ_data = spark.read.load(
    "dbfs:/FileStore/tables/SparkSQL/QS_World_University_Rankings_1200.csv",
    format="csv",
    sep=",",
    inferSchema=True,
    header=True
)

In [ ]:
univ_data.printSchema()

root
 |-- Institution Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Location Full: string (nullable = true)
 |-- Citations per Faculty: double (nullable = true)
 |-- International Students: integer (nullable = true)
 |-- QS Overall Score: string (nullable = true)

In [ ]:
univ_data.count()

Out[80]: 1200

In [ ]:
# Recreate the Dataframe by Dropping all the rows where 'QS Overall Score' is
# mention as '-' and also convert it as float type. (2 marks )

from pyspark.sql.functions import col

# Step 1: Filter out rows where 'QS Overall Score' is '-'
df_cleaned = univ_data.filter(col("QS Overall Score") != "-")

# Step 2: Cast 'QS Overall Score' to float
df_cleaned = df_cleaned.withColumn("QS Overall Score", col("QS Overall Score").cast("float"))

# Step 3: Verify schema and sample data
df_cleaned.printSchema()
df_cleaned.show(5)

root
 |-- Institution Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Location Full: string (nullable = true)
 |-- Citations per Faculty: double (nullable = true)
 |-- International Students: integer (nullable = true)
 |-- QS Overall Score: float (nullable = true)

+----------------+--------+---------------+---------------------+----------------------+----------------+
|Institution Name|Location|  Location Full|Citations per Faculty|International Students|QS Overall Score|
+----------------+--------+---------------+---------------------+----------------------+----------------+
|    University_1|   India|   Delhi, India|                82.62|                    33|           48.03|
|    University_2|      UK|     London, UK|                 75.1|                    49|           63.81|
|    University_3|     USA|Toronto, Canada|                45.64|                    83|           79.76|
|    University_4|     USA|   Delhi, India|                83.48|                    62|           85.43|
|    University_5|     USA|   Delhi, India|                77.12|                    73|           66.77|
+----------------+--------+---------------+---------------------+----------------------+----------------+
only showing top 5 rows

In [ ]:
df_cleaned.count()

Out[42]: 582

In [ ]:
#Remove all the rows with any missing entry.( 3 marks)

df_no_nulls = df_cleaned.dropna()

In [ ]:
df_no_nulls.count()

Out[83]: 582

In [ ]:
df_no_nulls.printSchema()

root
 |-- Institution Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Location Full: string (nullable = true)
 |-- Citations per Faculty: double (nullable = true)
 |-- International Students: integer (nullable = true)
 |-- QS Overall Score: float (nullable = true)

In [ ]:
from pyspark.sql.types import StringType
from pyspark.ml.feature import StringIndexer

# Step 1: Identify string columns
string_cols = [field.name for field in df_no_nulls.schema.fields if isinstance(field.dataType, StringType)]

# Step 2: Apply StringIndexer to all string columns and drop originals
for col_name in string_cols:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_indexed")
    df_no_nulls = indexer.fit(df_no_nulls).transform(df_no_nulls).drop(col_name)

# Step 3: Rename indexed columns back to original names
for col_name in string_cols:
    df_no_nulls = df_no_nulls.withColumnRenamed(col_name + "_indexed", col_name)

# Final DataFrame
df_indexed = df_no_nulls

# Step 4: Confirm schema has no string columns
df_indexed.printSchema()

root
 |-- Citations per Faculty: double (nullable = true)
 |-- International Students: integer (nullable = true)
 |-- QS Overall Score: float (nullable = true)
 |-- Institution Name: double (nullable = false)
 |-- Location: double (nullable = false)
 |-- Location Full: double (nullable = false)

In [ ]:
'''Using vectorAssembler combines all columns, except target column i.e. 'QS Overall
Score', of spark DataFrame into single column (name it as features). Make sure
DataFrame now contains only two columns, 'features' and 'QS Overall Score'. (5
marks)'''

from pyspark.ml.feature import VectorAssembler

# Exclude the target column
feature_cols = [col for col in df_indexed.columns if col != "QS Overall Score"]

# Assemble features
assembler = VectorAssembler(inputCols=feature_cols, outputCol="features_us")
df_vector = assembler.transform(df_indexed).select("features_us", "QS Overall Score")

In [ ]:
scaler = StandardScaler(inputCol="features_us", outputCol="features", withMean=True, withStd=True)
scaler_model = scaler.fit(df_vector)
df_scaled = scaler_model.transform(df_vector)

In [ ]:
#Split the vectorised Dataframe into training and test sets with one fifth records being
#held for testing. (2 marks)

train_df, test_df = df_scaled.randomSplit([0.8, 0.2], seed=42)

In [ ]:
'''Train default LinearRegression model with features as 'featuresCol' and ‘QS Overall
Score’ as label on training set. (3 marks)'''

from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol="features", labelCol="QS Overall Score")
lr_model = lr.fit(train_df)

In [ ]:
'''Perform prediction on the testing data and Print RMSE value. (5 marks)'''

from pyspark.ml.evaluation import RegressionEvaluator

# Perform prediction
predictions = lr_model.transform(test_df)

# Evaluate RMSE
evaluator = RegressionEvaluator(
    labelCol="QS Overall Score",
    predictionCol="prediction",
    metricName="rmse"
)

rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE) on test data: {rmse}")

Root Mean Squared Error (RMSE) on test data: 17.49442054892468

# Section B - Q1

Write HDFS shell commands for the following- 
1.	 Print contents of the directory  by path, showing the names, permissions, owner, size and modification date for each entry? (2 marks)
2.	How do you upload multiple files from the local system to a directory in HDFS?. (2 marks)
3.	How do you display the contents of a file in HDFS line by line (paged view)? (2 marks)
4.	Write command to remove a file or directory identified by path in HDFS and recursively delete any child entries. (2 marks)
5.	Write command to copy the ‘testfile’ of the hadoop filesystem to the local file system  (2marks)

Note: Consider InputDir, OutputDir, XYZ, SampleDir, and file.txt are under the present working directory.

In [ ]:
1> 1. Print contents of the directory by path, showing the names, permissions, owner, size and modification date for each entry? 

 hdfs dfs -ls /user/hadoop/InputDir

In [ ]:
2>2. How do you upload multiple files from the local system to a directory in HDFS?. (2 marks) 

hdfs dfs -put /test/*.txt /user/hadoop/SampleDir
hdfs dfs -put file1.txt file2.txt file3.txt /path/in/hdfs

In [ ]:
3. How do you display the contents of a file in HDFS line by line (paged view)?

hdfs dfs -cat /user/hadoop/file.txt | less

In [ ]:
4. Write command to remove a file or directory identified by path in HDFS and recursively delete any child entries. (2 marks)

hdfs dfs -rm -r /user/hadoop/XYZ

In [ ]:
5. Write command to copy the ‘testfile’ of the hadoop filesystem to the local file system (2marks)

hdfs dfs -get /user/hadoop/testfile ./testfile

Write HDFS shell commands for the following-
1. To Copy file1.txt from folder InputDir to OutputDir as file2.txt. (2 marks)
2. To Delete an empty directory named as XYZ. (2 marks)
3. To List the files and directories under folder named SampleDir. (2 marks)
4. To Recursively list the files and directories exist under folder named SampleDir. (2 marks)
5. To change the Permission of file named file.txt to Read only (444) (2marks)
Note: Consider InputDir, OutputDir, XYZ, SampleDir, and file.txt are under the present
working directory.

In [ ]:
To Copy file1.txt from folder InputDir to OutputDir as file2.txt. (2 marks)

hdfs dfs -cp /user/hadoop/InputDir/file1.txt /user/hadoop/OutputDir/file2.txt

In [ ]:
To Delete an empty directory named as XYZ. (2 marks)

hdfs dfs -rmdir /user/hadoop/XYZ

In [ ]:
To List the files and directories under folder named SampleDir. (2 marks)

hdfs dfs -ls /user/hadoop/SampleDir

In [ ]:
To Recursively list the files and directories exist under folder named SampleDir. (2 marks)

hdfs dfs -ls -R /user/hadoop/SampleDir

In [ ]:
Change the permission of file named file.txt to read-only (444)

hdfs dfs -chmod 444 /user/hadoop/file.txt

2022 paper

In [ ]:
To print the version of installed Hadoop (2 marks)

hadoop version

In [ ]:
To copy file1.txt from folder InputDir to OutputDir as file2.txt (3 marks)

hdfs dfs -cp /user/hadoop/InputDir/file1.txt /user/hadoop/OutputDir/file2.txt

In [ ]:
 To delete an empty directory named XYZ (3 marks)

 hdfs dfs -rmdir /user/hadoop/XYZ

In [ ]:
To list the contents of a folder named SampleDir (3 mark
                                                  
 hdfs dfs -ls /user/hadoop/SampleDir

In [ ]:
To fetch the usage instructions/details of the mkdir command (3 marks)

hdfs dfs -help mkdir

Section B - Question B Rdd

In [ ]:
 Considering sc as spark content object, and rdd as RDD object, write Spark commands to,
1.	Create an RDD from the following list: List(1, 2, 3, 4, 5,6,7,8,9,10). (2 marks)
2.	Display/Print first four elements of the RDD. (2 marks)
3.	Display/Print the first element of the RDD. (2 marks)
4.	Explain with example map,filter Apache Spark transformations.(4 marks)

In [ ]:
#1.	Create an RDD from the following list: List(1, 2, 3, 4, 5,6,7,8,9,10). (2 marks)

rdd = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
# Display/Print first four elements of the RDD. (2 marks)

print(rdd.take(4))

Out[2]: [1, 2, 3, 4]

In [ ]:
#3.	Display/Print the first element of the RDD. (2 marks)

print(rdd.first())

1

In [ ]:
# Explain with example map,filter Apache Spark transformations.(4 marks)

# Definition: map is used to transform each element of the RDD.

rdd_mapped = rdd.map(lambda x: x * 2)
print(rdd_mapped.collect())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Definition: filter is used to retain only those elements that satisfy a condition.


rdd_filtered = rdd.filter(lambda x: x % 3 == 0)
print(rdd_filtered.collect())

[3, 6, 9]

In [ ]:
Considering sc as spark content object, and rdd as RDD object, write Spark commands to,
1.	Create an RDD from the following list: List(1, 2, 3, 4, 5,6). (2 marks)
2.	Display/Print first four elements of the RDD. (2 marks)
3.	Display/Print the first element of the RDD. (2 marks)
4.	Display/Print the number of elements in the RDD. (2 marks)
5.	Display sum of all elements of the RDD. (2 marks)

In [ ]:
#1.	Create an RDD from the following list: List(1, 2, 3, 4, 5,6). (2 marks)
rdd=sc.parallelize([1, 2, 3, 4, 5,6])

In [ ]:
#2.	Display/Print first four elements of the RDD. (2 marks)

print(rdd.take(4))

[1, 2, 3, 4]

In [ ]:
# 3.	Display/Print the first element of the RDD. (2 marks)

print(rdd.first())

1

In [ ]:
# Display/Print the number of elements in the RDD. (2 marks)

print(rdd.count())

6

In [ ]:
# Display sum of all elements of the RDD. (2 marks)
print(rdd.sum())

21

In [ ]:
Considering sc as spark content object, and rdd as RDD object, write Spark commands to,
1. Create an RDD from the following list: List(1, 2, 3, 4, 5,6). (2 marks)
2. Read/load a text file located at "/path/to/file.txt" into an RDD. (2 marks)
3. Filter out the even numbers from RDD. (2 marks)
4. Map each element in the RDD to its square. (2 marks)
5. Count the number of elements in the RDD. (2 marks)

In [ ]:
# . Create an RDD from the following list: List(1, 2, 3, 4, 5,6). (2 marks)
rdd=sc.parallelize([1, 2, 3, 4, 5,6])

In [ ]:
# 2. Read/load a text file located at "/path/to/file.txt" into an RDD. (2 marks)
text_rdd = sc.textFile("/path/to/file.txt")

In [ ]:
# 3. Filter out the even numbers from RDD. (2 marks)

odd_rdd = rdd.filter(lambda x: x % 2 != 0)
print(odd_rdd.collect())

[1, 3, 5]

In [ ]:
# 4. Map each element in the RDD to its square. (2 marks)
sq_rdd=rdd.map(lambda x:x**2)
print(sq_rdd.collect())

[1, 4, 9, 16, 25, 36]

In [ ]:
# 5. Count the number of elements in the RDD. (2 marks)
print(rdd.count())

6

In [ ]:
Write below queries in Hive; 
1.	Write hive query to create databases name: emp. (2 Marks) 
2.	Write hive query to CREATE EXTERNAL TABLE in emp name it- employee with emp_id,name,location, dep,designation and salary as columns (4 Marks) 
3.	Write a hive query to perform an inner join on the Table1 and Table 2 on ‘id’ column (4 Marks)

In [ ]:
#Write hive query to create databases name: emp. (2 Marks) 

%sql
CREATE DATABASE emp;

In [ ]:
#Write hive query to CREATE EXTERNAL TABLE in emp name it- employee with emp_id,name,location, dep,designation and salary as columns (4 Marks) 
%sql
CREATE EXTERNAL TABLE employee (
    emp_id INT,
    name STRING,
    location STRING,
    dep STRING,
    designation STRING,
    salary FLOAT
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY '\t' 
LINES TERMINATED BY '\n'
STORED AS TEXTFILE
LOCATION '/user/hive/warehouse/employee/'
TBLPROPERTIES ("skip.header.line.count"="1");

In [ ]:
#Write a hive query to perform an inner join on the Table1 and Table 2 on ‘id’ column (4 Marks) 
%sql
SELECT *
FROM Table1 t1
JOIN Table2 t2
ON t1.id = t2.id;

In [ ]:
Write below queries in Hive; 
1.	Write hive query to create databases name: emp. (2 Marks) 
2.	Write hive query to CREATE EXTERNAL TABLE in emp name it- employee with emp_id,name,location, dep,designation and salary as columns (4 Marks) 
3.	Write a hive query to print the average salary of employees based on location. (4 Marks)

In [ ]:
#1.	Write hive query to create databases name: emp. (2 Marks) 
%sql
CREATE DATABASE emp;

In [ ]:
#2.	Write hive query to CREATE EXTERNAL TABLE in emp name it- employee with emp_id,name,location, dep,designation and salary as columns (4 Marks)
%sql
CREATE EXTERNAL TABLE emp.employee (
    emp_id INT,
    name STRING,
    location STRING,
    dep STRING,
    designation STRING,
    salary FLOAT
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY '\t' 
LINES TERMINATED BY '\n'
TBLPROPERTIES ("skip.header.line.count"="1");

In [ ]:
# 3.	Write a hive query to print the average salary of employees based on location. (4 Marks) 
%sql
SELECT location, AVG(salary) AS average_salary
FROM emp.employee
GROUP BY location;

In [ ]:
1. Write hive query to create databases name: anotherDB. (2 Marks)
2. Write hive query to CREATE EXTERNAL TABLE in anotherDB name it- orders1
with order_id, order_date, order_customer_id and order_status as columns(4
Marks)
3. Write hive query to load data in orders1 table using file which is available in local file
system. (4 Marks)

In [ ]:

#1. Write hive query to create databases name: anotherDB. (2 Marks)
%sql
CREATE DATABASE anotherDB;

In [ ]:
#2. Write hive query to CREATE EXTERNAL TABLE in anotherDB name it- orders1
#with order_id, order_date, order_customer_id and order_status as columns(4
#Marks)

CREATE EXTERNAL TABLE anotherDB.orders1 (
    order_id INT,
    order_date STRING,
    order_customer_id INT,
    order_status STRING
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\n'
TBLPROPERTIES ("skip.header.line.count"="1");

In [ ]:
#3. Write hive query to load data in orders1 table using file which is available in local file
#system. (4 Marks)


LOAD DATA LOCAL INPATH '/path/to/your/file.csv' 
INTO TABLE anotherDB.orders1;

# if we need to load data from HDFS 

LOAD DATA INPATH '/path/in/hdfs/orders1.csv' 
INTO TABLE anotherDB.orders1;

In [ ]:
Section B - Question d

In [ ]:
Write commands / query in MongoDB
1. Create a collection named ‘product collection’. (2 mark)
2. Insert 5 documents in product collection based on name, rating, brand.(2 mark)
3. Write query to find those products which have received 5/5 rating.(3 mark)
4. Write a query to update those records where the product name is AC to "Air conditioner"and print it. (3 mark)

In [ ]:
#1. Create a collection named ‘product collection’. (2 mark)

db.createCollection("product_collection")

In [ ]:
#. Insert 5 documents in product collection based on name, rating, brand.(2 mark)
db.product_collection.insertMany([
  { name: "AC", rating: 5, brand: "Samsung" },
  { name: "TV", rating: 4, brand: "Sony" },
  { name: "Washing Machine", rating: 5, brand: "LG" },
  { name: "Microwave", rating: 3, brand: "Panasonic" },
  { name: "Refrigerator", rating: 5, brand: "Whirlpool" }
])

In [ ]:
# 3. Write query to find those products which have received 5/5 rating.(3 mark)

db.product_collection.find({ rating: 5 })

In [ ]:
#4. Write a query to update those records where the product name is AC to "Air conditioner"and print it. (3 mark)


db.product_collection.updateMany(
  { name: "AC" },
  { $set: { name: "Air conditioner" } }
)

# Print updated documents
db.product_collection.find({ name: "Air conditioner" })

In [ ]:
Write commands / query in MongoDB
1. Create a collection named users. (2 mark)
2. Insert below records in users. (2 marks)
{ name:Abhishek},{name: Raja, age: 24},{name: Ravi,age: 34},{name: Ram, age: 45},{name: Roopa, age: 44},{name: Tina, age: 54}
3. Fetch users with age greater than or equal to 34. (2 marks)
4. Update record {name:Abhishek } with age 34. (2 marks)
5. Delete the record {name: Ravi }. (2 marks)

In [ ]:

# 1. Create a collection named users. (2 mark)
db.createCollection("users")

In [ ]:
#2. Insert below records in users. (2 marks)

db.users.insertMany([
  { name: "Abhishek" },
  { name: "Raja", age: 24 },
  { name: "Ravi", age: 34 },
  { name: "Ram", age: 45 },
  { name: "Roopa", age: 44 },
  { name: "Tina", age: 54 }
])

In [ ]:
 # Fetch users with age ≥ 34:


 db.users.find({ age: { $gte: 34 } })

In [ ]:


# 4. Update the record { name: "Abhishek" } by adding age: 34:

db.users.updateOne(
  { name: "Abhishek" },
  { $set: { age: 34 } }
)

In [ ]:
# Delete the record { name: "Ravi" }:

db.users.deleteOne({ name: "Ravi" })

Write commands/query in MongoDB to,
1. Create a collection named orders. (2 mark)
2. Insert below two records in orders. (4 mark)
{"order_id”: 1,
"order_customer_id”: 11599,
"order_status”: "CLOSED" }
{"order_id”: 2,
"order_customer_id”: 11698,
"order_status”: "OPEN" }
3. Fetch orders with order_status as COMPLETE. (4 marks)

In [ ]:
# Create a collection named orders. (2 mark)
db.createCollection("orders")

In [ ]:
#Insert below two records in orders. (4 mark) {"order_id”: 1, "order_customer_id”: 11599, "order_status”: "CLOSED" } {"order_id”: 2, "order_customer_id”: 11698, "order_status”: "OPEN" }
db.orders.insertMany([
  { order_id: 1, order_customer_id: 11599, order_status: "CLOSED" },
  { order_id: 2, order_customer_id: 11698, order_status: "OPEN" }
])

In [ ]:
#Fetch orders with order_status as COMPLETE. (4 marks)
db.orders.find({ order_status: "COMPLETE" })